<div class="navbar">
  <div class="left-bar">
    <h3>Hello {{ _authUser.user ? _authUser.user.pname : "Guest" }}</h3>
    <li><a routerLink="/">Home</a></li>
  </div>
  <ul>
    <div class="regOrlog" *ngIf="!_authUser.user">
      <ul>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
    <div class="user-nav-bar" *ngIf="_authUser.user?.role === 'customer'">
      <ul>
        <li><a routerLink="/dashboard">My Cart</a></li>
        <li><a (click)="_authUser.logout()">Logout</a></li>
      </ul>
    </div>
    <div class="user-nav-bar" *ngIf="_authUser.user?.role === 'admin'">
      <ul>
        <li><a routerLink="/logout">Add product</a></li>
        <li><a routerLink="/cart">Product list</a></li>
        <li><a routerLink="/store">Add Category</a></li>
        <li><a routerLink="/store">Category list</a></li>
        <li><a (click)="_authUser.logout()">Logout</a></li>
      </ul>
    </div>
  </ul>
</div>
