.landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
  min-height: 90vh;
  border: 1px solid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.landing .left, .landing .center, .landing .right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 1rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
}

.footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 /span 3;
  border: 1px solid;
}

.welcome {
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.welcome h2, .welcome h3 {
  color: aliceblue;
}

.start_shopping, .open_cart, .body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 4rem;
}

.start_shopping span, .open_cart span, .body span {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.start_shopping img, .open_cart img, .body img {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.start_shopping p, .start_shopping h4, .open_cart p, .open_cart h4, .body p, .body h4 {
  color: aliceblue;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
}

.start_shopping h4, .open_cart h4, .body h4 {
  color: #e9e8be;
}

.center .head {
  min-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center .head img {
  min-width: 100%;
  max-height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  border-radius: 0.2rem 0.2rem 0 0;
  mix-blend-mode: color-dodge;
}

.center .head h1 {
  margin-bottom: 1.5rem;
  color: aliceblue;
  z-index: 1;
}

.right .start_shopping {
  top: 2rem;
}

.right h2, .right h3, .right li, .right p {
  color: aliceblue;
}

.right h2 {
  text-align: center;
}

.right .last-order {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
}

.right .head {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right .open_cart, .right .start_shopping {
  min-width: 70%;
  border: 1px solid black;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #d6d6d2;
          box-shadow: 0.2rem 0.2rem 0.2rem #d6d6d2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2rem;
  padding: 0;
}

.right .btn-container {
  gap: 0.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right .btn {
  font-size: 0.75rem;
  width: 6rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=landing.component.css.map */