.cards-container{
    flex-direction: column;
    padding: 0.2rem;
    gap: 0.3rem;
}
.categories-navbar{

    height: 2rem;
    margin: 0;
    align-items: center;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
       p:hover{
            cursor: pointer;
            background-color: rgba(gray, 0.5);
        }
        p:active{
            background-color: rgba(gray, 0.5);
            text-decoration: underline;

        }

    }
}
.products-container{
    gap:0.3rem;
    flex-wrap: wrap;
}
