<div class="cards-container">
  <div class="categories-navbar">
    <ul>
      <li *ngFor="let cat of _products.categories">
        <p
          (click)="categoryFilter(cat.category_name)"
          [ngClass]="activeNav == cat.category_name ? 'active' : ''"
        >
          {{ cat.category_name }}
        </p>
      </li>
      <li>
        <p
          (click)="categoryFilter('all')"
          [ngClass]="activeNav == 'all' ? 'active' : ''"
        >
          All
        </p>
      </li>
    </ul>

    <div class="inp-form">
      <input
        type="search"
        name="search"
        id="search"
        placeholder="search"
        [(ngModel)]="search"
        (ngModelChange)="onSearch()"
      />
    </div>
    <button class="btn approve">Search</button>
  </div>
  <div class="products-container">
    <app-add-to-cart
      *ngIf="showCard"
      [product]="productToCart"
      (closeCard)="closeOpenCard()"
    ></app-add-to-cart>
    <app-product
      *ngFor="let product of products_arr"
      [product]="product"
      (addProduct)="addProductToCart($event)"
    ></app-product>
  </div>
</div>
